<footer class="footer">
  <small>
    The Cafelog
    by Kairi Morishita
  </small>
  <nav>
    <ul>
      <li><%= link_to "アプリ概要",   '#' %></li>
      <li><%= link_to "お問合せ", '#' %></li>
    </ul>
  </nav>
</footer>